@import './reset.scss';
@import './function.scss';

html, body{
    height: 100%;
}

body{
    min-width: 1280px;
}

select::-ms-expand{
    display: none;
}

.g-hd{
    .m-hd{
        position: relative;
        max-width: 1280px;
        height: 144px;
        color: #ffffff;
        margin: 0 auto;
        .u-logo{
            position: relative;
            top: 20px;
            width: 410px;
            margin-left: 20px;
        }
        .m-hd-nav{
            position: absolute;
            right: 77px;
            bottom: 16px;
            color: #434343;
            font-size: 18px;
            span{
                position: relative;
                margin-left: 43px;
            }
            .select:after{
                content: url("../imgs/triangle.png");
                position: absolute;
                width: 15px;
                height: 11px;
                left: 30px;
                bottom: -11px;
            }
        }
        .btn-nav{
            cursor: pointer;
        }
    }
    .m-bd{
        height: 138px;
        background-color: #027bcc;
        color: #ffffff;
        .m-con{
            margin: 0 auto;
            width: 1280px;
        }
        .m-mn{
            margin-left: 20px;
            font-size:0;
            .u-hd-btn{
                font-size: 20px;
                background-color: #027dcb;
                width: 142px;
                height: 68px;
                line-height: 68px;
                text-align: center;
                border-left: 1px solid #015a92;
                box-shadow: 1px 0 0 #0193ea, 
                            2px 0 0 #0189bd, 
                            1px 0 0 #0193ea inset, 
                            2px 0 0 #0189bd inset,
                            0 1px 0 #0193ea inset, 
                            0 2px 0 #0189bd inset;
                border-bottom: 1px solid #015a92;
                cursor: pointer;
            }
            .u-hd-btn:hover{
                background-color: #0067b7;
            }
            .u-hd-btn.active{
                background-color: #0067b7;
            }
            .u-hd-btn:last-child{
                border-right: 1px solid #015a92;
            }
            .g-second{
                .u-hd-btn{
                    border-bottom: none;
                    cursor: pointer;
                }
            }
        }
        .m-sd{
            height: 138px;
            line-height: 138px;
            .archives{
                padding: 20px 12px 20px 12px;
                border-right: 1px solid #015a92;
                box-shadow: 1px 0 0 #0193ea, 
                            2px 0 0 #0189bd, 
                            1px 0 0 #0193ea inset, 
                            2px 0 0 #0189bd inset;
                vertical-align: middle;
            }
            .archives:hover{
                background-color: #0067b7;
            }
        }
    }
    .m-ft{
        height: 306px;
        background-color: #0067b7;
        .m-con{
            width: 1280px;
            height: 306px;
            background: url('./../imgs/bg.png') no-repeat;
            margin: 0 auto;
            position: relative;
        }
        .icon-expand, .icon-packup{
            position: absolute;
            width: 69px;
            height: 18px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('./../imgs/icon_expand.png');
            cursor: pointer;
        }
        .icon-expand{
            display: none;
            background: url('./../imgs/icon_expand.png');
        }
        .icon-packup{
            background: url('./../imgs/icon_packup.png');
        }
        .z-padding-l{
            padding-left: 355px;
        }
        .z-margin{
            margin-top: 94px;
            margin-bottom: 34px;
            vertical-align: middle;
        }
        .z-margin-l{
            margin-left: 100px;
        }
        .u-select{
            width: 244px;
            height: 60px;
            line-height: 60px;
            font-size: 22px;
            color: #747474;
            padding: 0 64px 0 30px;
            appearance: none;
            border-radius: 8px;
            border: none;
            background: url("../imgs/dropicon.png") no-repeat scroll right center #ffffff;
            option{
                appearance: none;
                background: #f6f6f6;
                color: #37668a;
            }
            option:hover{
                appearance: none;
                border:1px solid #b5b5b5;
                background: none;
            }
        }

        .u-input{
            width: 672px;
            height: 60px;
            border: none;
            font-size: 22px;
            border-radius: 8px;
            padding: 0 10px;
            margin: 0 2px;
        }
        
        .u-checkbox{
            position: relative;
            margin-top: 3px;
            float: left;
            font-size: 22px;
        }

        .u-checkbox input[type=checkbox]{
            display: none;
        }

        .u-checkbox-item input[type=checkbox] + label{
            display: block;
            width: 18px;
            height: 18px;
            background: url('../imgs/radio_uncheck.png') no-repeat;
        }

        .z-circle input[type=checkbox] + label{
            display: block;
            width: 22px;
            height: 22px;
            background: url('../imgs/radio_uncheck_circle.png') no-repeat;
        }
        
        .u-checkbox-item input[type=checkbox]:checked + label{
            display: block;
            margin-right: -1px;
            width: 19px;
            height: 20px;
            background: url('../imgs/radio_check.png') no-repeat;
        }

        .z-circle input[type=checkbox]:checked + label{
            display: block;
            margin-right: 0;
            width: 22px;
            height: 22px;
            background: url('../imgs/radio_check_circle.png') no-repeat;
        }

        .u-checkbox-item{
            position: relative;
            margin-top: 3px;
            float: left;
        }

        .u-radio-item{
            margin-left: 16px;
            float:left;
            color: #ffffff;
            width:70px;
        }

        .z-margin-r{
            margin-right: 15px;
        }
    }
    .m-ft-ex{
        display: none;
        overflow: hidden;
        height: 282px;
        background-color: #f9f9f9;
        input:focus, select:focus{
            border: 1px solid #0075cc !important;
        }
        .m-up{
            width: 1220px;
            height: 76px;
            margin: 0 auto;
            border-bottom: 1px solid #d2d2d2;
            padding-left: 60px;
            padding-top: 54px;
            vertical-align: top;
            .u-select{
                width: 240px;
                height: 44px;
                line-height: 46px;
                font-size: 22px;
                color: #747474;
                padding: 0 64px 0 17px;
                appearance: none;
                border-radius: 8px;
                border: 1px solid #adacac;
                background: url("../imgs/dropicon.png") no-repeat scroll right center #ffffff;
                option{
                    appearance: none;
                    background: #f6f6f6;
                    color: #37668a;
                }
                option:hover{
                    appearance: none;
                    border:1px solid #b5b5b5;
                    background: none;
                }
            }
            .u-input{
                width: 394px;
                height: 44px;
                border:1px solid #b5b5b5;
                font-size: 22px;
                border-radius: 8px;
                padding: 0 10px;
                margin: 0 2px;
            }
            .u-select-sm{
                width: 160px;
            }
            .btn-calc{
                width: 46px;
                height: 46px;
                cursor: pointer;
            }
            .z-algin{
                vertical-align: middle;
                margin-left: 14px;
            }
        }
        .m-down{
            width: 1206px;
            color: #37668a;
            font-size: 22px;
            margin: 0 auto;
            padding: 42px 0 0 74px;
            .u-input{
                width: 114px;
                height: 46px;
                color: #747474;
                border:1px solid #b5b5b5;
                font-size: 22px;
                border-radius: 8px;
                padding: 0 70px;
                margin: 0 2px;
            }
            .btn-scan{
                width: 178px;
                height: 49px;
                background: url("../imgs/btn_scan.png") no-repeat;
                cursor: pointer;
            }
            .btn-reset{
                width: 178px;
                height: 49px;
                background: url("../imgs/btn_reset.png") no-repeat;
                cursor: pointer;
            }
            .btn-scan:active{
                width: 178px;
                background: url("../imgs/btn_scan_focus.png") no-repeat;
            }
            .btn-reset:active{
                width: 178px;
                background: url("../imgs/btn_reset_focus.png") no-repeat;
            }
            .z-algin{
                vertical-align: middle;
                margin-left: 14px;
            }
        }
    }
}

.g-dd{
    width: 100%;
    height: 15px;
    background: #f0f0f0;
}

.g-bd{
    max-width: 1204px;
    margin: 0 auto;
    padding: 25px 40px 0px 36px;
    .g-mn{
        width: 1020px;
        .btn-more{
            position: absolute;
            right: 0;
            bottom: 25px;
            width: 65px;
            height: 25px;
            background: url("../imgs/btn_more.png") no-repeat;
            cursor: pointer;
        }
        .m-tab{
            width: 484px;
            margin-right: 26px;
            .m-tab-header{
                position: relative;
                height: 78px;
            }
            .m-tab-header-item{
                width: 116px;
                height: 78px;
                line-height: 78px;
                font-size: 24px;
                color: #434343;
                margin-right: 18px;
                font-weight: 200;
                text-align: center;
                position: relative;
                top: -2px;
                z-index: 100;
                cursor: pointer;
            }
            .m-tab-body{
                border-top: 1px solid #bfbfbf;
                padding-top: 32px;
                .u-news{
                    color: #535353;
                    font-size: 20px;
                    height: 34px;
                    line-height: 34px;
                    border-bottom: 1px dotted #d6d6d6;
                    .u-text{
                        width: 364px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: 20px;
                    }
                    .u-time{
                        float: right;
                        vertical-align: top;
                    }
                }
            }
            .z-new{
                padding-top: 41px;
            }
            .m-tab-body-item_new{
                height: 80px;
                margin-bottom: 26px;
                .u-label{
                    width: 84px;
                    margin-right: 13px;
                    .date,.date-part{
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        font-size: 18px;
                        border: 1px solid #bdbdbd;
                    }
                    .date{
                        background-color: #f7f7f7;
                        color: #535353;
                    }
                    .date-part{
                        border-bottom: none;
                        background-color: #00a0e9;
                        color: #fff;
                    }
                }
                .u-con{
                    width: 374px;
                    overflow: hidden;
                    font-size: 20px;
                    vertical-align: top;
                    .title{
                        margin-bottom: 10px;
                        line-height: 1;
                    }
                    .desc{
                        height: 40px;
                        line-height: 20px;
                        font-weight: 200;
                        overflow: hidden;
                    }
                }
            }
            .m-tab-body-item_new:last-child{
                margin-bottom: 20px;
            }
            .select{
                border-bottom: 5px solid #00a0e9;
                font-weight: 400;
            }
        }
        .m-tab_md{
            width: 478px;
            vertical-align: top;
        }
        .m-down{
            .m-con-left{
                width: 532px;
                margin-right: 24px;
            }
            .m-con-right{
                float: right;
                width: 448px;
                margin-right: 15px;
                .m-body{
                    width: 388px;
                    height: 318px;
                    margin-left: 60px;
                    position: relative;
                }
                .unslide, .unslider {
                    overflow: auto;
                    margin: 0;
                    padding: 0;
                    width: 330px;
                }
                .btn-arrow{
                    position: absolute;
                    width: 54px;
                    height: 318px;
                    z-index: 1000000;
                    cursor: pointer;
                }
                .btn-arrow-left{
                    left: -54px;
                    top: 0;
                    background: url("../imgs/arrow_left_sm.png") center no-repeat;
                }
                .btn-arrow-right{
                    top: 0;
                    right: 0;
                    background: url("../imgs/arrow_right_sm.png") center no-repeat;
                }
                #slide_1, #slide_2, #slide_3  {
                    background: url("../imgs/example.jpg") no-repeat center;
                    width: 334px;
                    height: 318px;
                }
                .unslider-arrow, .next,.prev {
                    position: absolute;
                    top: 50%;
                    margin-top: -24px;
                    width: 48px;
                    height: 48px;
                }
                .next {
                    background: url("../imgs/arrow_right_sm.png");
                }
                .prev{
                    background: url("../imgs/arrow_left_sm.png");
                }
            }
            .m-header{
                height: 78px;
                position: relative;
            }
            .title{
                width: 106px;
                height: 78px;
                line-height: 78px;
                font-size: 22px;
                color: #434343;
                margin-right: 18px;
                text-align: center;
                position: relative;
                top: -2px;
                z-index: 100;
                border-bottom: 5px solid #00a0e9;
                font-weight: 400;
            }
            .title-lg{
                width: 210px;
            }
            .m-body{
                padding-top: 20px;
                border-top: 1px solid #bfbfbf;
                width: 100%;
                img{
                    height: 264px;
                    width: 530px;
                    vertical-align: bottom;
                }
                .u-desc{
                    width: 458px;
                    height: 65px;
                    line-height: 65px;
                    font-size: 14px;
                    color: #fff;
                    background: #0285d3;
                    padding: 0 36px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .g-sd{
        background: #f7f7f7;
        width: 179px;
        margin-top: 20px;
        padding-top: 24px;
        border-radius: 2px;
        vertical-align: top;
        .m-nav-item{
            width: 165px;
            height: 74px;
            line-height: 74px;
            text-align: center;
            font-size: 22px;
            color: #fff;
            margin: 13px 6px 0 5px;
            
        }
        .m-nav-item:nth-child(odd), .odd{
            background-color: #00a0e9;
        }
        .m-nav-item:nth-child(even), .even{
            background-color: #65b3e3;
        }
        .btn-down{
            height: 52px;
            padding: 5px 0 ;
            background: url("../imgs/btn_down.png") center no-repeat;
            cursor: pointer;
        }
    }
}

.g-bd-ex{
    width: 1204px;
    margin: 0 auto;
    padding: 0px 40px 0px 36px;
    .m-header{
        height: 78px;
        position: relative;
    }
    .unslide, .unslider {
        overflow: auto;
        margin: 0;
        padding: 0;
    }
    .btn-more{
        position: absolute;
        right: 0;
        bottom: 25px;
        width: 65px;
        height: 25px;
        background: url("../imgs/btn_more.png") no-repeat;
        cursor: pointer;
    }
    .title{
        width: 108px;
        height: 78px;
        line-height: 78px;
        font-size: 22px;
        color: #434343;
        margin-right: 18px;
        text-align: center;
        position: relative;
        top: -2px;
        z-index: 100;
        border-bottom: 5px solid #00a0e9;
        font-weight: 400;
    }
    
    .m-body{
        padding-top: 20px;
        border-top: 1px solid #bfbfbf;
        margin-left: 55px;
        position: relative;
        .m-card{
            width: 340px;
            margin-right: 32px;
            .m-card-img{
                width: 340px;
                height: 222px;
                vertical-align: bottom;
            }
            .desc{
                width: 314px;
                height: 71px;
                background: #f3f3f3;
                padding: 20px 10px 0 16px;
                .tit{
                    font-size: 22px;
                    color: #434343;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-weight: bold;
                }
                .summary{
                    font-size: 20px;
                    max-width: 334px;
                    overflow: hidden;
                    margin-top: 6px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .btn-link{
                    float: right;
                    font-weight: lighter;
                    color: #898989;
                    cursor: pointer;
                }
            }
        }
    }
    .btn-arrow{
        position: absolute;
        width: 50px;
        height: 340px;
        z-index: 1000000;
        cursor: pointer;
    }
    .btn-arrow-left{
        left: -50px;
        top: 0;
        background: url("../imgs/arrow_left_md.png") center no-repeat;
    }
    .btn-arrow-right{
        top: 0;
        right: 0;
        background: url("../imgs/arrow_right_md.png") center no-repeat;
    }
    .unslider-arrow, .next,.prev {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        width: 48px;
        height: 48px;
    }
    .next {
        background: url("../imgs/arrow_right_sm.png");
    }
    .prev{
        background: url("../imgs/arrow_left_sm.png");
    }

    .m-link{
        .m-up{
            height: 32px;
            div{
                height: 32px;
                padding: 0 48px;
                font-size: 24px;
                color: #434343;
                line-height: 32px;
                border-left: 1px solid #b5b5b5;
            }
            div:last-child{
                border-right: 1px solid #b5b5b5;
            }
        }
        .m-down{
            margin: 44px 0;
            .icon{
                width: 27px;
                height: 27px;
                background: url("../imgs/link.png") no-repeat;
                vertical-align: bottom;
                margin-right: 27px;
            }
            .label{
                height: 35px;
                line-height: 35px;
                color: #434343;
                font-size: 28px;
                margin-right: 60px;
                vertical-align: bottom;
            }
            .u-select{
                position: relative;
                width: 200px;
                height: 36px;
                margin-right: 48px;
                line-height: 36px;
                font-size: 20px;
                border: 1px solid #b5b5b5;
                color: #b2b2b2;
                padding: 0 40px 0 28px;
                appearance: none;
                background: url("../imgs/icon_select.png") no-repeat scroll right center #ffffff;
                .u-select-content{
                    display: none;
                    position: absolute;
                    top: 42px;
                    left: 10px;
                    border: 1px solid #b5b5b5;
                    width: 270px;
                }
                div{
                    background: #ffffff;
                    color: #434343;
                    padding-left: 10px;
                    .icon-right{
                        padding-right: 5px;
                        width: 19px;
                        height: 13px;
                        background: url("../imgs/icon_right.jpg") no-repeat;
                    }
                }
                a{
                    padding-left: 36px;
                    display: block;
                    width: 229px;
                    background: #ffffff;
                    color: #434343;;
                }
                a:hover{
                    background: #eeeeee;
                }
            }
        }
    }
}

.g-ft{
    border-width: 1px solid rgb(201, 243, 251);
    border-radius: 3px;
    background-color: #0382d1;
    background-image: linear-gradient( 90deg, rgb(5,121,202) 0%, rgb(1,138,215) 100%);
    width: 100%;
    height: 103px;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    padding: 36px 0 0 0;
    div{
        vertical-align: bottom;
    }
  }
  

.unslider-wrap {
    position: relative;
}
.unslider-wrap.unslider-carousel>li {
    float: left
}
.unslider-vertical>ul {
    height: 100%
}
.unslider-vertical li {
    float: none;
    width: 100%
}
.unslider-fade {
    position: relative
}
.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}
.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}
.unslider li,
.unslider ol,
.unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none
}

.g-preview{
    background: #efefee;
    .m-3d{
        width: 1280px;
        margin: 0 auto;
        .m-con{
            margin: 0 77px 0 24px;
            padding: 0 92px 0 60px;
            background: #FFF;
            height: 746px; 
            .m-header{
                height: 78px;
                position: relative;
                border-bottom: 1px solid #bfbfbf;
            }
            .title{
                display: inline-block;
                height: 78px;
                line-height: 78px;
                font-size: 22px;
                color: #434343;
                margin-right: 18px;
                text-align: center;
                position: relative;
                top: -2px;
                z-index: 100;
                border-bottom: 5px solid #00a0e9;
                font-weight: 400;
            }
            .title-lg{
                width: 210px;
            }
            .m-body{
                position: relative;
                padding-top: 28px;
            }
            .video-con{
                width: 948px;
                height: 572px;
            }
            .desc{
                width: 948px;
                height: 58px;
                line-height: 58px;
                font-size: 22px;
                color: #434343;
                text-align: center;
            }
            .btn-nav{
                position: absolute;
                bottom: 60px;
                right: 0;
                .btn-arrow{
                    width: 64px;
                    height: 64px;
                    margin: 16px 0;
                }
                .btn-arrow-up{
                    background: url('../imgs/btn-arrow-up.png')
                }
                .btn-arrow-down{
                    background: url('../imgs/btn-arrow-down.png')
                }
            }
        }
    }
}
