.banner {
  padding: 24px 10px;
  width: 965px;
  height: 540px;
  margin: 0 auto;
  background: #faf8f8; }

.banner .slide-carousel {
  margin-bottom: 20px; }

.banner .slide-3d .desc {
  display: none; }

.banner .slide-3d .item-list li {
  width: 628px;
  height: 429px;
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.banner .slide-3d .item-list li.item0 {
  -webkit-transform: translate3d(-172px, 0, 0) scale(0.76);
  transform: translate3d(-172px, 0, 0) scale(0.76);
  opacity: 1;
  z-index: 1; }

.banner .slide-3d .item-list li.item1 {
  -webkit-transform: translate3d(86px, 0, 0) scale(0.88);
  transform: translate3d(86px, 0, 0) scale(0.88);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 2; }

.banner .slide-3d .item-list li.item2 {
  -webkit-transform: translate3d(168px, 0, 0) scale(1);
  transform: translate3d(168px, 0, 0) scale(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 3; }

.banner .slide-3d .item-list li.item3 {
  -webkit-transform: translate3d(250px, 0, 0) scale(0.88);
  transform: translate3d(250px, 0, 0) scale(0.88);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 2; }

.banner .slide-3d .item-list li.item4 {
  -webkit-transform: translate3d(336px, 0, 0) scale(0.76);
  transform: translate3d(336px, 0, 0) scale(0.76);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 1; }

.banner .slide-3d .item-list li.item5 {
  -webkit-transform: translate3d(1125px, 0, 0) scale(0.76);
  transform: translate3d(1125px, 0, 0) scale(0.76); }

.banner .slide-3d .item-list li.item6 {
  -webkit-transform: translate3d(1350px, 0, 0) scale(0.76);
  transform: translate3d(1350px, 0, 0) scale(0.76); }

.slide-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.slide-carousel .item-list {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden; }

.item-list .summary {
  width: 860px;
  position: absolute;
  bottom: -90px;
  left: -120px;
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: #535353; }

.item-list .item2 .summary {
  display: block !important; }

.slide-carousel .item-list li .item-content {
  width: 100%;
  height: 100%; }

.slide-carousel .item-list li .item-content a {
  display: block;
  width: 100%;
  height: 100%; }

.slide-carousel .item-list li .item-content a .cover-img {
  width: 100%;
  height: 100%; }

.slide-carousel .indicator-list {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -63px;
  z-index: 100; }

.slide-carousel .indicator-list a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  margin-left: 5px; }

.slide-carousel .indicator-list a.selected {
  border-color: #ff6700;
  background-color: #5fff92; }

.slide-carousel .controls {
  opacity: 0; }

.slide-carousel .controls a {
  cursor: pointer;
  text-decoration: none;
  width: 40px;
  height: 60px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 35px;
  padding-top: 25px;
  z-index: 2; }

.slide-carousel .controls a:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.slide-carousel .controls .item-prev {
  top: 50%;
  left: 0;
  margin-top: -42px; }

.slide-carousel .controls .item-next {
  top: 50%;
  right: 0;
  margin-top: -42px; }

.slide-carousel .desc {
  height: 72px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99; }

.slide-carousel .desc strong {
  color: #fff;
  font-size: 20px;
  line-height: 72px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.slide-carousel:hover .controls {
  opacity: 1;
  transition: opacity 0.5s ease; }
