@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial,"SourceHanSansCN Regular", "San Francisco", "Microsoft Yahei", "宋体";
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial,\5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; }

.f-fs1 {
  font-size: 12px; }

.f-fs2 {
  font-size: 14px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.banner {
  padding: 24px 10px;
  width: 965px;
  height: 540px;
  margin: 0 auto;
  background: #faf8f8; }

.banner .slide-carousel {
  margin-bottom: 20px; }

.banner .slide-3d .desc {
  display: none; }

.banner .slide-3d .item-list li {
  width: 628px;
  height: 429px;
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.banner .slide-3d .item-list li.item0 {
  transform: translate3d(-172px, 0, 0) scale(0.76);
  opacity: 1;
  z-index: 1; }

.banner .slide-3d .item-list li.item1 {
  transform: translate3d(86px, 0, 0) scale(0.88);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 2; }

.banner .slide-3d .item-list li.item2 {
  transform: translate3d(168px, 0, 0) scale(1);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 3; }

.banner .slide-3d .item-list li.item3 {
  transform: translate3d(250px, 0, 0) scale(0.88);
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 2; }

.banner .slide-3d .item-list li.item4 {
  transform: translate3d(336px, 0, 0) scale(0.76);
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 1; }

.banner .slide-3d .item-list li.item5 {
  transform: translate3d(1125px, 0, 0) scale(0.76); }

.banner .slide-3d .item-list li.item6 {
  transform: translate3d(1350px, 0, 0) scale(0.76); }

.slide-carousel {
  width: 100%;
  height: 100%;
  position: relative; }

.slide-carousel .item-list {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

.item-list .summary {
  width: 860px;
  position: absolute;
  bottom: -80px;
  left: -120px;
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: #535353; }

.item-list .item2 .summary {
  display: block !important; }

.slide-carousel .item-list li .item-content {
  width: 100%;
  height: 100%; }

.slide-carousel .item-list li .item-content a {
  display: block;
  width: 100%;
  height: 100%; }

.slide-carousel .item-list li .item-content a .cover-img {
  width: 100%;
  height: 100%; }

.slide-carousel .indicator-list {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 884px;
  margin: 0 auto;
  z-index: 100;
  text-align: center; }

.slide-carousel .indicator-list a {
  display: inline-block;
  width: 26px;
  height: 30px;
  margin-left: 5px;
  text-align: center; }

.slide-carousel .indicator-list a.selected {
  background: url("../imgs/icon-indicate.png");
  display: inline-block; }

.slide-carousel .controls {
  opacity: 0; }

.slide-carousel .controls a {
  cursor: pointer;
  text-decoration: none;
  width: 40px;
  height: 60px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 35px;
  padding-top: 25px;
  z-index: 2; }

.slide-carousel .controls a:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.slide-carousel .controls .item-prev {
  top: 50%;
  left: 0;
  margin-top: -42px; }

.slide-carousel .controls .item-next {
  top: 50%;
  right: 0;
  margin-top: -42px; }

.slide-carousel .desc {
  height: 72px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99; }

.slide-carousel .desc strong {
  color: #fff;
  font-size: 20px;
  line-height: 72px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.slide-carousel:hover .controls {
  opacity: 1;
  transition: opacity 0.5s ease; }

.indicator-summary {
  font-size: 20px;
  border-top: 2px solid #bfbfbf;
  position: relative;
  top: -19px;
  padding-top: 25px;
  z-index: -1; }

html, body {
  height: 100%; }

body {
  min-width: 1280px; }

select::-ms-expand {
  display: none; }

.g-hd .m-hd {
  position: relative;
  max-width: 1280px;
  height: 144px;
  color: #ffffff;
  margin: 0 auto; }
  .g-hd .m-hd .u-logo {
    position: relative;
    top: 20px;
    width: 410px;
    margin-left: 20px; }
  .g-hd .m-hd .m-hd-nav {
    position: absolute;
    right: 77px;
    bottom: 16px;
    color: #434343;
    font-size: 18px; }
    .g-hd .m-hd .m-hd-nav span {
      position: relative;
      margin-left: 43px; }
    .g-hd .m-hd .m-hd-nav .select:after {
      content: url("../imgs/triangle.png");
      position: absolute;
      width: 15px;
      height: 11px;
      left: 30px;
      bottom: -11px; }
  .g-hd .m-hd .btn-nav {
    cursor: pointer; }

.g-hd .m-bd {
  height: 138px;
  background-color: #027bcc;
  color: #ffffff; }
  .g-hd .m-bd .m-con {
    margin: 0 auto;
    width: 1280px; }
  .g-hd .m-bd .m-mn {
    margin-left: 20px;
    font-size: 0; }
    .g-hd .m-bd .m-mn .u-hd-btn {
      font-size: 20px;
      background-color: #027dcb;
      width: 142px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      border-left: 1px solid #015a92;
      box-shadow: 1px 0 0 #0193ea,  2px 0 0 #0189bd,  1px 0 0 #0193ea inset,  2px 0 0 #0189bd inset, 0 1px 0 #0193ea inset,  0 2px 0 #0189bd inset;
      border-bottom: 1px solid #015a92;
      cursor: pointer; }
    .g-hd .m-bd .m-mn .u-hd-btn:hover {
      background-color: #0067b7; }
    .g-hd .m-bd .m-mn .u-hd-btn.active {
      background-color: #0067b7; }
    .g-hd .m-bd .m-mn .u-hd-btn:last-child {
      border-right: 1px solid #015a92; }
    .g-hd .m-bd .m-mn .g-second .u-hd-btn {
      border-bottom: none;
      cursor: pointer; }
  .g-hd .m-bd .m-sd {
    height: 138px;
    line-height: 138px; }
    .g-hd .m-bd .m-sd .archives {
      padding: 20px 12px 20px 12px;
      border-right: 1px solid #015a92;
      box-shadow: 1px 0 0 #0193ea,  2px 0 0 #0189bd,  1px 0 0 #0193ea inset,  2px 0 0 #0189bd inset;
      vertical-align: middle; }
    .g-hd .m-bd .m-sd .archives:hover {
      background-color: #0067b7; }

.g-hd .m-ft {
  height: 306px;
  background-color: #0067b7; }
  .g-hd .m-ft .m-con {
    width: 1280px;
    height: 306px;
    background: url("./../imgs/bg.png") no-repeat;
    margin: 0 auto;
    position: relative; }
  .g-hd .m-ft .icon-expand, .g-hd .m-ft .icon-packup {
    position: absolute;
    width: 69px;
    height: 18px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("./../imgs/icon_expand.png");
    cursor: pointer; }
  .g-hd .m-ft .icon-expand {
    display: none;
    background: url("./../imgs/icon_expand.png"); }
  .g-hd .m-ft .icon-packup {
    background: url("./../imgs/icon_packup.png"); }
  .g-hd .m-ft .z-padding-l {
    padding-left: 355px; }
  .g-hd .m-ft .z-margin {
    margin-top: 94px;
    margin-bottom: 34px;
    vertical-align: middle; }
  .g-hd .m-ft .z-margin-l {
    margin-left: 100px; }
  .g-hd .m-ft .u-select {
    width: 244px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #747474;
    padding: 0 64px 0 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    border: none;
    background: url("../imgs/dropicon.png") no-repeat scroll right center #ffffff; }
    .g-hd .m-ft .u-select option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #f6f6f6;
      color: #37668a; }
    .g-hd .m-ft .u-select option:hover {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #b5b5b5;
      background: none; }
  .g-hd .m-ft .u-input {
    width: 672px;
    height: 60px;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 2px; }
  .g-hd .m-ft .u-checkbox {
    position: relative;
    margin-top: 3px;
    float: left;
    font-size: 22px; }
  .g-hd .m-ft .u-checkbox input[type=checkbox] {
    display: none; }
  .g-hd .m-ft .u-checkbox-item input[type=checkbox] + label {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../imgs/radio_uncheck.png") no-repeat; }
  .g-hd .m-ft .z-circle input[type=checkbox] + label {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../imgs/radio_uncheck_circle.png") no-repeat; }
  .g-hd .m-ft .u-checkbox-item input[type=checkbox]:checked + label {
    display: block;
    margin-right: -1px;
    width: 19px;
    height: 20px;
    background: url("../imgs/radio_check.png") no-repeat; }
  .g-hd .m-ft .z-circle input[type=checkbox]:checked + label {
    display: block;
    margin-right: 0;
    width: 22px;
    height: 22px;
    background: url("../imgs/radio_check_circle.png") no-repeat; }
  .g-hd .m-ft .u-checkbox-item {
    position: relative;
    margin-top: 3px;
    float: left; }
  .g-hd .m-ft .u-radio-item {
    margin-left: 16px;
    float: left;
    color: #ffffff;
    width: 70px; }
  .g-hd .m-ft .z-margin-r {
    margin-right: 15px; }

.g-hd .m-ft-ex {
  display: none;
  overflow: hidden;
  height: 282px;
  background-color: #f9f9f9; }
  .g-hd .m-ft-ex input:focus, .g-hd .m-ft-ex select:focus {
    border: 1px solid #0075cc !important; }
  .g-hd .m-ft-ex .m-up {
    width: 1220px;
    height: 76px;
    margin: 0 auto;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 60px;
    padding-top: 54px;
    vertical-align: top; }
    .g-hd .m-ft-ex .m-up .u-select {
      width: 240px;
      height: 44px;
      line-height: 46px;
      font-size: 22px;
      color: #747474;
      padding: 0 64px 0 17px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 8px;
      border: 1px solid #adacac;
      background: url("../imgs/dropicon.png") no-repeat scroll right center #ffffff; }
      .g-hd .m-ft-ex .m-up .u-select option {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f6f6f6;
        color: #37668a; }
      .g-hd .m-ft-ex .m-up .u-select option:hover {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #b5b5b5;
        background: none; }
    .g-hd .m-ft-ex .m-up .u-input {
      width: 394px;
      height: 44px;
      border: 1px solid #b5b5b5;
      font-size: 22px;
      border-radius: 8px;
      padding: 0 10px;
      margin: 0 2px; }
    .g-hd .m-ft-ex .m-up .u-select-sm {
      width: 160px; }
    .g-hd .m-ft-ex .m-up .btn-calc {
      width: 46px;
      height: 46px;
      cursor: pointer; }
    .g-hd .m-ft-ex .m-up .z-algin {
      vertical-align: middle;
      margin-left: 14px; }
  .g-hd .m-ft-ex .m-down {
    width: 1206px;
    color: #37668a;
    font-size: 22px;
    margin: 0 auto;
    padding: 42px 0 0 74px; }
    .g-hd .m-ft-ex .m-down .u-input {
      width: 114px;
      height: 46px;
      color: #747474;
      border: 1px solid #b5b5b5;
      font-size: 22px;
      border-radius: 8px;
      padding: 0 70px;
      margin: 0 2px; }
    .g-hd .m-ft-ex .m-down .btn-scan {
      width: 178px;
      height: 49px;
      background: url("../imgs/btn_scan.png") no-repeat;
      cursor: pointer; }
    .g-hd .m-ft-ex .m-down .btn-reset {
      width: 178px;
      height: 49px;
      background: url("../imgs/btn_reset.png") no-repeat;
      cursor: pointer; }
    .g-hd .m-ft-ex .m-down .btn-scan:active {
      width: 178px;
      background: url("../imgs/btn_scan_focus.png") no-repeat; }
    .g-hd .m-ft-ex .m-down .btn-reset:active {
      width: 178px;
      background: url("../imgs/btn_reset_focus.png") no-repeat; }
    .g-hd .m-ft-ex .m-down .z-algin {
      vertical-align: middle;
      margin-left: 14px; }

.g-dd {
  width: 100%;
  height: 15px;
  background: #f0f0f0; }

.g-bd {
  max-width: 1204px;
  margin: 0 auto;
  padding: 25px 40px 0px 36px; }
  .g-bd .g-mn {
    width: 1020px; }
    .g-bd .g-mn .btn-more {
      position: absolute;
      right: 0;
      bottom: 25px;
      width: 65px;
      height: 25px;
      background: url("../imgs/btn_more.png") no-repeat;
      cursor: pointer; }
    .g-bd .g-mn .m-tab {
      width: 484px;
      margin-right: 26px; }
      .g-bd .g-mn .m-tab .m-tab-header {
        position: relative;
        height: 78px; }
      .g-bd .g-mn .m-tab .m-tab-header-item {
        width: 116px;
        height: 78px;
        line-height: 78px;
        font-size: 24px;
        color: #434343;
        margin-right: 18px;
        font-weight: 200;
        text-align: center;
        position: relative;
        top: -2px;
        z-index: 100;
        cursor: pointer; }
      .g-bd .g-mn .m-tab .m-tab-body {
        border-top: 1px solid #bfbfbf;
        padding-top: 32px; }
        .g-bd .g-mn .m-tab .m-tab-body .u-news {
          color: #535353;
          font-size: 20px;
          height: 34px;
          line-height: 34px;
          border-bottom: 1px dotted #d6d6d6; }
          .g-bd .g-mn .m-tab .m-tab-body .u-news .u-text {
            width: 364px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 20px; }
          .g-bd .g-mn .m-tab .m-tab-body .u-news .u-time {
            float: right;
            vertical-align: top; }
      .g-bd .g-mn .m-tab .z-new {
        padding-top: 41px; }
      .g-bd .g-mn .m-tab .m-tab-body-item_new {
        height: 80px;
        margin-bottom: 26px; }
        .g-bd .g-mn .m-tab .m-tab-body-item_new .u-label {
          width: 84px;
          margin-right: 13px; }
          .g-bd .g-mn .m-tab .m-tab-body-item_new .u-label .date, .g-bd .g-mn .m-tab .m-tab-body-item_new .u-label .date-part {
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 18px;
            border: 1px solid #bdbdbd; }
          .g-bd .g-mn .m-tab .m-tab-body-item_new .u-label .date {
            background-color: #f7f7f7;
            color: #535353; }
          .g-bd .g-mn .m-tab .m-tab-body-item_new .u-label .date-part {
            border-bottom: none;
            background-color: #00a0e9;
            color: #fff; }
        .g-bd .g-mn .m-tab .m-tab-body-item_new .u-con {
          width: 374px;
          overflow: hidden;
          font-size: 20px;
          vertical-align: top; }
          .g-bd .g-mn .m-tab .m-tab-body-item_new .u-con .title {
            margin-bottom: 10px;
            line-height: 1; }
          .g-bd .g-mn .m-tab .m-tab-body-item_new .u-con .desc {
            height: 40px;
            line-height: 20px;
            font-weight: 200;
            overflow: hidden; }
      .g-bd .g-mn .m-tab .m-tab-body-item_new:last-child {
        margin-bottom: 20px; }
      .g-bd .g-mn .m-tab .select {
        border-bottom: 5px solid #00a0e9;
        font-weight: 400; }
    .g-bd .g-mn .m-tab_md {
      width: 478px;
      vertical-align: top; }
    .g-bd .g-mn .m-down .m-con-left {
      width: 532px;
      margin-right: 24px; }
    .g-bd .g-mn .m-down .m-con-right {
      float: right;
      width: 448px;
      margin-right: 15px; }
      .g-bd .g-mn .m-down .m-con-right .m-body {
        width: 388px;
        height: 318px;
        margin-left: 60px;
        position: relative; }
      .g-bd .g-mn .m-down .m-con-right .unslide, .g-bd .g-mn .m-down .m-con-right .unslider {
        overflow: auto;
        margin: 0;
        padding: 0;
        width: 330px; }
      .g-bd .g-mn .m-down .m-con-right .btn-arrow {
        position: absolute;
        width: 54px;
        height: 318px;
        z-index: 1000000;
        cursor: pointer; }
      .g-bd .g-mn .m-down .m-con-right .btn-arrow-left {
        left: -54px;
        top: 0;
        background: url("../imgs/arrow_left_sm.png") center no-repeat; }
      .g-bd .g-mn .m-down .m-con-right .btn-arrow-right {
        top: 0;
        right: 0;
        background: url("../imgs/arrow_right_sm.png") center no-repeat; }
      .g-bd .g-mn .m-down .m-con-right #slide_1, .g-bd .g-mn .m-down .m-con-right #slide_2, .g-bd .g-mn .m-down .m-con-right #slide_3 {
        background: url("../imgs/example.jpg") no-repeat center;
        width: 334px;
        height: 318px; }
      .g-bd .g-mn .m-down .m-con-right .unslider-arrow, .g-bd .g-mn .m-down .m-con-right .next, .g-bd .g-mn .m-down .m-con-right .prev {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        width: 48px;
        height: 48px; }
      .g-bd .g-mn .m-down .m-con-right .next {
        background: url("../imgs/arrow_right_sm.png"); }
      .g-bd .g-mn .m-down .m-con-right .prev {
        background: url("../imgs/arrow_left_sm.png"); }
    .g-bd .g-mn .m-down .m-header {
      height: 78px;
      position: relative; }
    .g-bd .g-mn .m-down .title {
      width: 106px;
      height: 78px;
      line-height: 78px;
      font-size: 22px;
      color: #434343;
      margin-right: 18px;
      text-align: center;
      position: relative;
      top: -2px;
      z-index: 100;
      border-bottom: 5px solid #00a0e9;
      font-weight: 400; }
    .g-bd .g-mn .m-down .title-lg {
      width: 210px; }
    .g-bd .g-mn .m-down .m-body {
      padding-top: 20px;
      border-top: 1px solid #bfbfbf;
      width: 100%; }
      .g-bd .g-mn .m-down .m-body img {
        height: 264px;
        width: 530px;
        vertical-align: bottom; }
      .g-bd .g-mn .m-down .m-body .u-desc {
        width: 458px;
        height: 65px;
        line-height: 65px;
        font-size: 14px;
        color: #fff;
        background: #0285d3;
        padding: 0 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
  .g-bd .g-sd {
    background: #f7f7f7;
    width: 179px;
    margin-top: 20px;
    padding-top: 24px;
    border-radius: 2px;
    vertical-align: top; }
    .g-bd .g-sd .m-nav-item {
      width: 165px;
      height: 74px;
      line-height: 74px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      margin: 13px 6px 0 5px; }
    .g-bd .g-sd .m-nav-item:nth-child(odd), .g-bd .g-sd .odd {
      background-color: #00a0e9; }
    .g-bd .g-sd .m-nav-item:nth-child(even), .g-bd .g-sd .even {
      background-color: #65b3e3; }
    .g-bd .g-sd .btn-down {
      height: 52px;
      padding: 5px 0;
      background: url("../imgs/btn_down.png") center no-repeat;
      cursor: pointer; }

.g-bd-ex {
  width: 1204px;
  margin: 0 auto;
  padding: 0px 40px 0px 36px; }
  .g-bd-ex .m-header {
    height: 78px;
    position: relative; }
  .g-bd-ex .unslide, .g-bd-ex .unslider {
    overflow: auto;
    margin: 0;
    padding: 0; }
  .g-bd-ex .btn-more {
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 65px;
    height: 25px;
    background: url("../imgs/btn_more.png") no-repeat;
    cursor: pointer; }
  .g-bd-ex .title {
    width: 108px;
    height: 78px;
    line-height: 78px;
    font-size: 22px;
    color: #434343;
    margin-right: 18px;
    text-align: center;
    position: relative;
    top: -2px;
    z-index: 100;
    border-bottom: 5px solid #00a0e9;
    font-weight: 400; }
  .g-bd-ex .m-body {
    padding-top: 20px;
    border-top: 1px solid #bfbfbf;
    margin-left: 55px;
    position: relative; }
    .g-bd-ex .m-body .m-card {
      width: 340px;
      margin-right: 32px; }
      .g-bd-ex .m-body .m-card .m-card-img {
        width: 340px;
        height: 222px;
        vertical-align: bottom; }
      .g-bd-ex .m-body .m-card .desc {
        width: 314px;
        height: 71px;
        background: #f3f3f3;
        padding: 20px 10px 0 16px; }
        .g-bd-ex .m-body .m-card .desc .tit {
          font-size: 22px;
          color: #434343;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bold; }
        .g-bd-ex .m-body .m-card .desc .summary {
          font-size: 20px;
          max-width: 334px;
          overflow: hidden;
          margin-top: 6px;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .g-bd-ex .m-body .m-card .desc .btn-link {
          float: right;
          font-weight: lighter;
          color: #898989;
          cursor: pointer; }
  .g-bd-ex .btn-arrow {
    position: absolute;
    width: 50px;
    height: 340px;
    z-index: 1000000;
    cursor: pointer; }
  .g-bd-ex .btn-arrow-left {
    left: -50px;
    top: 0;
    background: url("../imgs/arrow_left_md.png") center no-repeat; }
  .g-bd-ex .btn-arrow-right {
    top: 0;
    right: 0;
    background: url("../imgs/arrow_right_md.png") center no-repeat; }
  .g-bd-ex .unslider-arrow, .g-bd-ex .next, .g-bd-ex .prev {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px; }
  .g-bd-ex .next {
    background: url("../imgs/arrow_right_sm.png"); }
  .g-bd-ex .prev {
    background: url("../imgs/arrow_left_sm.png"); }
  .g-bd-ex .m-link .m-up {
    height: 32px; }
    .g-bd-ex .m-link .m-up div {
      height: 32px;
      padding: 0 48px;
      font-size: 24px;
      color: #434343;
      line-height: 32px;
      border-left: 1px solid #b5b5b5; }
    .g-bd-ex .m-link .m-up div:last-child {
      border-right: 1px solid #b5b5b5; }
  .g-bd-ex .m-link .m-down {
    margin: 44px 0; }
    .g-bd-ex .m-link .m-down .icon {
      width: 27px;
      height: 27px;
      background: url("../imgs/link.png") no-repeat;
      vertical-align: bottom;
      margin-right: 27px; }
    .g-bd-ex .m-link .m-down .label {
      height: 35px;
      line-height: 35px;
      color: #434343;
      font-size: 28px;
      margin-right: 60px;
      vertical-align: bottom; }
    .g-bd-ex .m-link .m-down .u-select {
      position: relative;
      width: 200px;
      height: 36px;
      margin-right: 48px;
      line-height: 36px;
      font-size: 20px;
      border: 1px solid #b5b5b5;
      color: #b2b2b2;
      padding: 0 40px 0 28px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../imgs/icon_select.png") no-repeat scroll right center #ffffff; }
      .g-bd-ex .m-link .m-down .u-select .u-select-content {
        display: none;
        position: absolute;
        top: 42px;
        left: 10px;
        border: 1px solid #b5b5b5;
        width: 270px; }
      .g-bd-ex .m-link .m-down .u-select div {
        background: #ffffff;
        color: #434343;
        padding-left: 10px; }
        .g-bd-ex .m-link .m-down .u-select div .icon-right {
          padding-right: 5px;
          width: 19px;
          height: 13px;
          background: url("../imgs/icon_right.jpg") no-repeat; }
      .g-bd-ex .m-link .m-down .u-select a {
        padding-left: 36px;
        display: block;
        width: 229px;
        background: #ffffff;
        color: #434343; }
      .g-bd-ex .m-link .m-down .u-select a:hover {
        background: #eeeeee; }

.g-ft {
  border-width: 1px solid #c9f3fb;
  border-radius: 3px;
  background-color: #0382d1;
  background-image: linear-gradient(90deg, #0579ca 0%, #018ad7 100%);
  width: 100%;
  height: 103px;
  font-size: 18px;
  color: #fff;
  line-height: 38px;
  text-align: center;
  padding: 36px 0 0 0; }
  .g-ft div {
    vertical-align: bottom; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider li,
.unslider ol,
.unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.g-preview {
  background: #efefee; }
  .g-preview .m-3d {
    width: 1280px;
    margin: 0 auto; }
    .g-preview .m-3d .m-con {
      margin: 0 77px 0 24px;
      padding: 0 92px 0 60px;
      background: #FFF;
      height: 746px; }
      .g-preview .m-3d .m-con .m-header {
        height: 78px;
        position: relative;
        border-bottom: 1px solid #bfbfbf; }
      .g-preview .m-3d .m-con .title {
        display: inline-block;
        height: 78px;
        line-height: 78px;
        font-size: 22px;
        color: #434343;
        margin-right: 18px;
        text-align: center;
        position: relative;
        top: -2px;
        z-index: 100;
        border-bottom: 5px solid #00a0e9;
        font-weight: 400; }
      .g-preview .m-3d .m-con .title-lg {
        width: 210px; }
      .g-preview .m-3d .m-con .m-body {
        position: relative;
        padding-top: 28px; }
      .g-preview .m-3d .m-con .video-con {
        width: 948px;
        height: 572px; }
      .g-preview .m-3d .m-con .desc {
        width: 948px;
        height: 58px;
        line-height: 58px;
        font-size: 22px;
        color: #434343;
        text-align: center; }
      .g-preview .m-3d .m-con .btn-nav {
        position: absolute;
        bottom: 60px;
        right: 0; }
        .g-preview .m-3d .m-con .btn-nav .btn-arrow {
          width: 64px;
          height: 64px;
          margin: 16px 0; }
        .g-preview .m-3d .m-con .btn-nav .btn-arrow-up {
          background: url("../imgs/btn-arrow-up.png"); }
        .g-preview .m-3d .m-con .btn-nav .btn-arrow-down {
          background: url("../imgs/btn-arrow-down.png"); }
  .g-preview .m-honor {
    width: 1280px;
    margin: 0 auto; }
    .g-preview .m-honor .m-con {
      position: relative;
      margin: 0 224px 0 24px;
      background: #FFF;
      height: 884px; }
      .g-preview .m-honor .m-con .m-right {
        position: absolute;
        right: -138px;
        top: 32px; }
        .g-preview .m-honor .m-con .m-right .tab-item {
          width: 126px;
          height: 38px;
          border: 1px solid #bfbfbf;
          font-size: 16px;
          line-height: 38px;
          text-align: center;
          color: #474747;
          margin-bottom: 10px;
          background: #fff;
          cursor: pointer; }
        .g-preview .m-honor .m-con .m-right .tab-item.select {
          background: #dcdcdc; }
      .g-preview .m-honor .m-con .m-header {
        margin: 0 60px 0 60px;
        height: 78px;
        position: relative;
        border-bottom: 1px solid #bfbfbf; }
      .g-preview .m-honor .m-con .title {
        display: inline-block;
        height: 78px;
        line-height: 78px;
        font-size: 22px;
        color: #434343;
        margin-right: 18px;
        text-align: center;
        position: relative;
        top: -2px;
        z-index: 100;
        border-bottom: 5px solid #00a0e9;
        font-weight: 400; }
      .g-preview .m-honor .m-con .title-lg {
        width: 210px; }
      .g-preview .m-honor .m-con .m-body {
        position: relative;
        padding-top: 28px; }
  .g-preview .m-project {
    width: 1280px;
    margin: 0 auto; }
    .g-preview .m-project .m-con {
      position: relative;
      margin: 0 224px 0 24px;
      background: #FFF; }
      .g-preview .m-project .m-con .m-right {
        position: absolute;
        right: -138px;
        top: 32px; }
        .g-preview .m-project .m-con .m-right .tab-item {
          width: 126px;
          height: 38px;
          border: 1px solid #bfbfbf;
          font-size: 16px;
          line-height: 38px;
          text-align: center;
          color: #474747;
          margin-bottom: 10px;
          background: #fff;
          cursor: pointer; }
        .g-preview .m-project .m-con .m-right .tab-item.select {
          background: #dcdcdc; }
      .g-preview .m-project .m-con .m-header {
        margin: 0 40px 0 40px;
        height: 78px;
        position: relative;
        border-bottom: 1px solid #bfbfbf; }
      .g-preview .m-project .m-con .title {
        display: inline-block;
        height: 78px;
        line-height: 78px;
        font-size: 22px;
        color: #434343;
        margin-right: 18px;
        text-align: center;
        position: relative;
        top: -2px;
        z-index: 100;
        border-bottom: 5px solid #00a0e9;
        font-weight: 400; }
      .g-preview .m-project .m-con .title-lg {
        width: 210px; }
      .g-preview .m-project .m-con .m-body {
        margin: 0 15px;
        position: relative;
        padding-top: 28px; }
        .g-preview .m-project .m-con .m-body .unslider {
          float: left;
          position: relative; }
        .g-preview .m-project .m-con .m-body .unslider, .g-preview .m-project .m-con .m-body .unslide {
          position: relative;
          width: 628px;
          height: 430px; }
        .g-preview .m-project .m-con .m-body .unslide:hover .btn-arrow {
          display: block; }
        .g-preview .m-project .m-con .m-body .unslide:hover .desc {
          display: block; }
        .g-preview .m-project .m-con .m-body .btn-arrow {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 65px;
          z-index: 1000000;
          cursor: pointer;
          display: none; }
        .g-preview .m-project .m-con .m-body .btn-arrow-left {
          width: 65px;
          height: 64px;
          left: 10px;
          background: url("../imgs/arrow-left-circle.png") center no-repeat; }
        .g-preview .m-project .m-con .m-body .btn-arrow-right {
          width: 65px;
          height: 64px;
          right: 10px;
          background: url("../imgs/arrow-right-circle.png") center no-repeat; }
        .g-preview .m-project .m-con .m-body .m-card {
          position: relative;
          width: 628px;
          height: 430px; }
          .g-preview .m-project .m-con .m-body .m-card img {
            width: 100%;
            height: 100%; }
          .g-preview .m-project .m-con .m-body .m-card .desc {
            display: none;
            color: #fff;
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: rgba(0, 0, 0, 0.22);
            padding: 15px 0; }
            .g-preview .m-project .m-con .m-body .m-card .desc .desc-title {
              font-size: 16px;
              margin: 0 0 10px 30px; }
            .g-preview .m-project .m-con .m-body .m-card .desc .desc-content {
              font-size: 14px;
              margin: 0 0 5px 30px; }
        .g-preview .m-project .m-con .m-body .right-nav {
          position: relative;
          top: -10px;
          float: left;
          margin-left: 5px;
          padding: 10px 8px;
          width: 350px;
          height: 426px;
          background: #faf8f8;
          overflow-y: auto; }
          .g-preview .m-project .m-con .m-body .right-nav .nav-left {
            float: left;
            width: 116px;
            height: 78px;
            margin-bottom: 10px; }
            .g-preview .m-project .m-con .m-body .right-nav .nav-left img {
              width: 100%;
              height: 100%; }
          .g-preview .m-project .m-con .m-body .right-nav .nav-right {
            float: left;
            margin-left: 12px;
            width: 182px;
            height: 66px; }
            .g-preview .m-project .m-con .m-body .right-nav .nav-right .nav-title {
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 5px; }
            .g-preview .m-project .m-con .m-body .right-nav .nav-right .nav-content {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis; }
        .g-preview .m-project .m-con .m-body .m-content {
          padding: 0 20px;
          margin-top: 26px;
          height: 434px;
          overflow: hidden; }
          .g-preview .m-project .m-con .m-body .m-content .text-title {
            font-size: 24px;
            margin-bottom: 50px; }
          .g-preview .m-project .m-con .m-body .m-content p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px; }
        .g-preview .m-project .m-con .m-body .mask {
          width: 100%;
          background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
          padding-bottom: 6px;
          height: 60px;
          position: relative;
          top: -85px; }
        .g-preview .m-project .m-con .m-body .btn-expand {
          position: relative;
          top: -65px;
          margin: 0 auto;
          background: url("../imgs/icon_expand.png");
          width: 69px;
          height: 18px;
          cursor: pointer; }
