@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial,"SourceHanSansCN Regular", "San Francisco", "Microsoft Yahei", "宋体";
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial,\5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; }

.f-fs1 {
  font-size: 12px; }

.f-fs2 {
  font-size: 14px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  min-width: 1920px; }

.g-hd .m-hd {
  max-width: 1920px;
  height: 148px;
  color: #ffffff;
  margin: 0 auto; }
  .g-hd .m-hd .u-logo {
    width: 471px;
    margin-left: 320px; }

.g-hd .m-bd {
  height: 158px;
  background-color: #027bcc;
  color: #ffffff; }
  .g-hd .m-bd .m-con {
    max-width: 1920px;
    margin: 0 auto; }
  .g-hd .m-bd .m-mn {
    margin-left: 320px;
    font-size: 0; }
    .g-hd .m-bd .m-mn .u-hd-btn {
      font-size: 24px;
      background-color: #027dcb;
      width: 186px;
      height: 78px;
      line-height: 78px;
      text-align: center;
      border-left: 1px solid #015a92;
      box-shadow: 1px 0 0 #0193ea,  2px 0 0 #0189bd,  1px 0 0 #0193ea inset,  2px 0 0 #0189bd inset, 0 1px 0 #0193ea inset,  0 2px 0 #0189bd inset;
      border-bottom: 1px solid #015a92; }
    .g-hd .m-bd .m-mn .u-hd-btn.select {
      background-color: #0067b7; }
    .g-hd .m-bd .m-mn .u-hd-btn:last-child {
      border-right: 1px solid #015a92; }
    .g-hd .m-bd .m-mn .g-second .u-hd-btn {
      border-bottom: none; }
  .g-hd .m-bd .m-sd {
    height: 157px;
    line-height: 157px; }
    .g-hd .m-bd .m-sd .archives {
      padding: 24px 50px 24px 60px;
      border-right: 1px solid #015a92;
      box-shadow: 1px 0 0 #0193ea,  2px 0 0 #0189bd,  1px 0 0 #0193ea inset,  2px 0 0 #0189bd inset;
      height: 110px;
      vertical-align: middle; }

.g-hd .m-ft {
  height: 333px;
  background: url("./../../imgs//bg.png") no-repeat;
  background-color: #0067b7; }
  .g-hd .m-ft .z-padding-l {
    padding-left: 678px; }
  .g-hd .m-ft .z-margin {
    margin-top: 122px;
    margin-bottom: 34px;
    vertical-align: middle; }
  .g-hd .m-ft .z-margin-l {
    margin-left: 433px; }
  .g-hd .m-ft .u-select {
    width: 254px;
    height: 62px;
    line-height: 62px;
    font-size: 22px;
    color: #747474;
    padding: 0 64px 0 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    border: none;
    background: url("../../imgs/dropicon.png") no-repeat scroll right center #ffffff; }
    .g-hd .m-ft .u-select option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #f6f6f6;
      color: #37668a; }
    .g-hd .m-ft .u-select option:hover {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #b5b5b5;
      background: none; }
  .g-hd .m-ft .u-input {
    width: 698px;
    height: 62px;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 2px; }
  .g-hd .m-ft .u-checkbox {
    position: relative;
    margin-top: 3px;
    margin-left: 19px;
    float: left;
    font-size: 22px; }
  .g-hd .m-ft .u-checkbox input[type=checkbox] {
    display: none; }
  .g-hd .m-ft .u-checkbox-item input[type=checkbox] + label {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../../imgs/radio_uncheck.png") no-repeat; }
  .g-hd .m-ft .z-circle input[type=checkbox] + label {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../imgs/radio_uncheck_circle.png") no-repeat; }
  .g-hd .m-ft .u-checkbox-item input[type=checkbox]:checked + label {
    display: block;
    margin-right: -1px;
    width: 19px;
    height: 20px;
    background: url("../../imgs/radio_check.png") no-repeat; }
  .g-hd .m-ft .z-circle input[type=checkbox]:checked + label {
    display: block;
    margin-right: 0;
    width: 22px;
    height: 22px;
    background: url("../../imgs/radio_check_circle.png") no-repeat; }
  .g-hd .m-ft .u-checkbox-item {
    position: relative;
    margin-top: 3px;
    float: left; }
  .g-hd .m-ft .u-radio-item {
    margin-left: 16px;
    float: left;
    color: #ffffff; }
  .g-hd .m-ft .z-margin-r {
    margin-right: 26px; }

.g-hd .m-ft-ex {
  height: 282px;
  background-color: #f9f9f9;
  padding: 0 246px 0 263px; }
  .g-hd .m-ft-ex .m-up {
    height: 76px;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 158px;
    padding-top: 54px; }
    .g-hd .m-ft-ex .m-up .u-select {
      width: 239px;
      height: 46px;
      line-height: 46px;
      font-size: 22px;
      color: #747474;
      padding: 0 64px 0 17px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 8px;
      border: 1px solid #adacac;
      background: url("../../imgs/dropicon.png") no-repeat scroll right center #ffffff; }
      .g-hd .m-ft-ex .m-up .u-select option {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f6f6f6;
        color: #37668a; }
      .g-hd .m-ft-ex .m-up .u-select option:hover {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #b5b5b5;
        background: none; }
    .g-hd .m-ft-ex .m-up .u-input {
      width: 414px;
      height: 44px;
      border: 1px solid #b5b5b5;
      font-size: 22px;
      border-radius: 8px;
      padding: 0 10px;
      margin: 0 2px; }
    .g-hd .m-ft-ex .m-up .u-select-sm {
      width: 160px; }
    .g-hd .m-ft-ex .m-up .btn-calc {
      width: 46px;
      height: 46px; }
    .g-hd .m-ft-ex .m-up .z-algin {
      vertical-align: middle;
      margin-left: 14px; }
