@import './reset.scss';
@import './function.scss';

body{
    min-width: 1920px;
}

.g-hd{
    .m-hd{
        max-width: 1920px;
        height: 148px;
        color: #ffffff;
        margin: 0 auto;
        .u-logo{
            width: 471px;
            margin-left: 320px;
        }
    }
    .m-bd{
        height: 158px;
        background-color: #027bcc;
        color: #ffffff;
        .m-con{
            max-width: 1920px;
            margin: 0 auto;
        }
        .m-mn{
            margin-left: 320px;
            font-size:0;
            .u-hd-btn{
                font-size: 24px;
                background-color: #027dcb;
                width: 186px;
                height: 78px;
                line-height: 78px;
                text-align: center;
                border-left: 1px solid #015a92;
                box-shadow: 1px 0 0 #0193ea, 
                            2px 0 0 #0189bd, 
                            1px 0 0 #0193ea inset, 
                            2px 0 0 #0189bd inset,
                            0 1px 0 #0193ea inset, 
                            0 2px 0 #0189bd inset;
                border-bottom: 1px solid #015a92;
            }
            .u-hd-btn.select{
                background-color: #0067b7;
            }
            .u-hd-btn:last-child{
                border-right: 1px solid #015a92;
            }
            .g-second{
                .u-hd-btn{
                    border-bottom: none;
                }
            }
        }
        .m-sd{
            height: 157px;
            line-height: 157px;
            .archives{
                padding: 24px 50px 24px 60px;
                border-right: 1px solid #015a92;
                box-shadow: 1px 0 0 #0193ea, 
                            2px 0 0 #0189bd, 
                            1px 0 0 #0193ea inset, 
                            2px 0 0 #0189bd inset;
                height: 110px;
                vertical-align: middle;
            }
        }
    }
}

.形状_1_拷贝_2 {
    border-width: 1px;
    border-color: rgb(0, 67, 105);
    border-style: solid;
    position: absolute;
    left: 320px;
    top: 146px;
    width: 5px;
    height: 160px;
    z-index: 85;
  }
  